body {
    padding: 0;
    margin: 0;
}

.header-lx {
    width:100%;
    height:80px;
    background-color: black;
}

.content-lx{
    width:100%;
    height: 890px;
}

.left-lx {
    width:13.8%;
    height: 100%;
    float: left;
    background-color: red;
}

.middle-lx {
    width: 68.75%;
    height: 100%;
    float: left;
    background-color: white;
    margin-bottom: 70px;
    padding-bottom: 50px;
}

.right-lx {
    height: 100%;
    background-color: #00aced
}
