body {
    padding: 0;
    margin: 0;
}

.header-lx {
    width:100%;
    height:80px;
}

.content-lx{
    width:100%;
    height: 1114px
}

.left-lx {
    width:13.8%;
    height: 100%;
    float: left;
}

.middle-lx {
    width: 68.75%;
    height: auto;
    float: left;
    margin-bottom: 50px;
}

.right-lx {
    width: 17.45%;
    height: 100%;
    background-color: #ECEFF6;
    float: right;
}

.img-search {
  width: 61%;
  height:100%;
  float:left;
  background-color: #2F364A;
}

.img {
  margin: 20px 20px;
  height: 42px;
  float: left;
}

.search {
  margin: 24px 32px 24px 0;
  height: 32px;
  float: right;
}

.search-text {
  width: 400px;
  height: 28px;
  border-radius: 16px;
  border-width:0;
}

.menu-lx {
  width: 21.55%;
  height: 80px;
  background-color: #18202D;
  float: left;
}

.menu-ul {
  overflow: hidden;
  padding: 0px;
  margin-top: 30px;
}

.menu-text {
  width: 20%;
  float: left;
  font-size: 14px;
  list-style:none;
  color:#5D647D;
  text-align: center;
}

.message {
  height: 100%;
  background-color: #2F364A;
}

.img-head{
  margin: 25px 20px;
  height: 30px;
  float: left;
}
.name{
  margin: 32px 5px;
  height: 16px;
  float: left;
}

.username{
  color: white;
}

#dropdown-btn{
  border-radius: 999px;
  background-image: url('../img/xiala.png');
  background-size: cover;
  margin: 34px 5px;
  height: 12px;
  width: 11px;
  float: left;
}

.btn-ask {
  width: 100%;
  height: 116px;
  border-right:1px solid #D6DBE7;
  border-bottom:1px solid #D6DBE7;
  padding: 35px 20px;
  text-align: center;
}

.btn-ask-question {
  height: 100%;
  width: 160px;
  background-color: #418ED6;
  border-radius: 5px;
  border-style: none;
}

.ask-question-word {
  color: white;
  margin-left:5px;
}

.ul-lx{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  border-right:1px solid #D6DBE7;
  border-bottom:1px solid #D6DBE7;
}

.li-lx {
  padding-left:21px;
  height: 38px;
}

.li-lx-active {
  height: 38px;
  background-color: #F2F3F8;
  border-left: 4px solid #EA9314;
  padding-left:17px;
}

.a-li-lx {
  line-height: 38px;
}

.li-span-lx {
  margin-left: 8px;
  color: #8187A0;
}

.links-div {
  width: 100%;
  border-right:1px solid #D6DBE7;
  border-bottom:1px solid #D6DBE7;
  padding: 5px 0;
}
.links-lx{
  padding-left: 21px;
  height: 30px;
}

.links-a-lx{
  line-height: 30px;
}

.link-span-lx {
  margin-left: 8px;
  color: #75C2FB;
}

.recent-status-div {
  width: 100%;
  height: 714px;
  border-right:1px solid #D6DBE7;
  border-bottom:1px solid #D6DBE7;
  padding: 5px 0;
  position: relative;
}

.ask-lx {
  padding-left: 21px;
  margin-top: 22px;
}

.ask-p-lx {
  background-image: url("../img/wenhao.png");
  background-repeat: no-repeat;
  background-position:0 5px;
  padding-left: 22px;
  margin-bottom: 12px;
  color: #8187A0;
}

.time-lx {
  padding-left: 22px;
  color: #707893;
  font-size: 12px;
}

.answer-lx {
  padding-left: 21px;
  margin-top: 22px;
}

.answer-p-lx {
  background-image: url("../img/yuyan.png");
  background-repeat: no-repeat;
  background-position:0 5px;
  padding-left: 22px;
  margin-bottom: 12px;
  color: #8187A0;
}

.accepted-lx {
  padding-left: 21px;
  margin-top: 22px;
}

.accepted-p-lx {
  background-image: url("../img/duihao.png");
  background-repeat: no-repeat;
  background-position:0 5px;
  padding-left: 22px;
  margin-bottom: 12px;
  color: #8187A0;
}

.status-a-lx {
  color: #75C2FB
}
.rights-lx {
  padding-left: 21px;
  position: absolute;
  bottom: 10px;

}

.rights-2014-lx {
  font-size: 12px;
  color: #8187A0;
}

.term-lx {
  font-size: 12px;
  color: #75C2FB;
  border-bottom:1px solid #75C2FB;
}


.questions-div {
  height: 65px;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 7px;
  border-left: 4px solid #418ED6;
}

.question-title-lx {
  color: #8187A0;
  font-size: 18px;
}

.number-data-lx {
  margin-top: 18px;
  height: 100%;
  font-weight:bold;
  font-size: 40px;
}

.members-div {
  height: 65px;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 7px;
  border-left: 4px solid #EA9314;
}

.tags-div {
  margin-left:20px;
  margin-top:36px;
  margin-right:10px;
}

.related-tags {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 11px;
  border-bottom: 1px solid #D6DBE7;
}

.one-tag {
  margin-top: 13px;
}

.tag-span-lx {
  color: #9099A5;
  padding: 2px 16px;
  background-color: #F2F3F8;
  border: 1px solid #D6DBE7;
  border-radius: 13px;
}

.tag-span-number {
  font-size: 13px;
  color: #9099A5;
  margin-left: 12px;

}

.more-related-tags {
  display: block;
  margin-top: 13px;
  color: #75C2FB;
}

.hot-questions-div {
  margin-left:20px;
  margin-top:36px;
  margin-right:10px;
}

.new-hot-questions {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 11px;
  border-bottom: 1px solid #D6DBE7;
}

.hot-question-li {
  margin-top:17px;
}

.hot-question-p {
  background-image: url("../img/avatar copy 2.png");
  background-repeat: no-repeat;
  background-position:0 5px;
  padding-left: 31px;
  padding-right: 23px;
  color: #75C2FB;
}
