
.ui.secondary.pointing.menu {
    margin: 0;
}

.ui.segment.pointing-menu {
    padding: 0
}
.ui.massive.circular.label {
    background-color: white;
}

.statistic > .ui.purple.label {
    width: 80%;
    display: block;
}

.ui.text.menu > .right.menu .item {
    color: blue;
}

.statistic > .ui.basic.label {
    border-style: none;
}


/*.ui.segments {
    margin-top: 0;
}

.ui.segment {
    margin: 0
    height: 160px;
}*/
